default: &default
  adapter: 
  encoding: 
  # For details on connection pooling, see rails configuration guide
  # http://guides.rubyonrails.org/configuring.html#database-pooling
  pool: 5

development:
  <<: *default
  database: 
  username: 
  password: 

test:
  <<: *default
  database: 
  username: 
  password: 


production:
  <<: *default
  database: 
  username: 
  password: 